@* @{
    ViewData["Title"] = "Home Page";
}
 *@
@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@


@{
    ViewBag.Title = "Schools Management System";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Students
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Teachers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Parents
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Subjects
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Sections
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Division
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Class
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Manage Attendance
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Exam
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Manage Marks
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span>Payments</span> <span class="badge badge-danger">7 Pending</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Message
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Accounting
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Transport
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Library
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Configuration
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">
                                <h5 class="card-title">3</h5>
                                <p class="card-text">Total students</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">
                                <h5 class="card-title">3</h5>
                                <p class="card-text">Total teachers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-info text-white mb-4">
                            <div class="card-body">
                                <h5 class="card-title">1</h5>
                                <p class="card-text">Total parent</p>
                            </div>
                        </div>
                    </div>
                </div>

                <h2>Schools Management System Quick Icon</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body text-center">
                                <a href="#" class="btn btn-primary">Students</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body text-center">
                                <a href="#" class="btn btn-primary">Teachers</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body text-center">
                                <a href="#" class="btn btn-primary">Parents</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body text-center">
                                <a href="#" class="btn btn-primary">Subjects</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body text-center">
                                <a href="#" class="btn btn-primary">Sections</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body text-center">
                                <a href="#" class="btn btn-primary">Class</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body text-center">
                                <a href="#" class="btn btn-primary">Attendance</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body text-center">
                                <a href="#" class="btn btn-primary">Exams</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body text-center">
                                <a href="#" class="btn btn-primary">Exams Marks</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body text-center">
                                <a href="#" class="btn btn-primary">Payments</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body text-center">
                                <a href="#" class="btn btn-primary">Accounting</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body text-center">
                                <a href="#" class="btn btn-primary">Library</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body text-center">
                                <a href="#" class="btn btn-primary">Transport</a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
